<launch>

 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="SEMBA_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <node pkg="manual_robot_control" type="xbox_control" name="xbox_control"/>

</launch>
